<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="toto.dao.LoginDao">

	
	<select id="getLoginList" resultType="totologin" parameterType="totologin">
		select * from TOTOLOGIN
	</select>
	<select id="ck" resultType="totologin" parameterType="totologin">
		select * from TOTOLOGIN
		WHERE id=#{id}
		and pw=#{pw}
	</select>
	<insert id="insertToto" parameterType="totologin">
		insert into TOTOLOGIN(idno,id, pw)
				values(#{idno},#{id},#{pw})
	</insert>
	

</mapper>