<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="toto.dao.NoticeDao">
	<select id="noticeList" resultType="notice"
		parameterType="notice">
		select *
		FROM bet_Notice
		WHERE 1=1
		<if test="bt_title">
			AND bt_title LIKE '%' ||#{bt_title}|| '%'
		</if>
		order by bt_no desc
	</select>
	
	<insert id="insertNotice" parameterType="notice">
			insert into BET_NOTICE values(notice_seq.nextval,#{bt_division},#{bt_title},#{bt_date},0)
	</insert>
	
	<select id="checkAdmin" parameterType="string" resultType="int">
		select auth from Account where id = #{id}
	</select>
	
	
	<select id="getNoticeDetail" parameterType="int" resultType="notice">
		select *
		from bet_notice
		where bt_no = #{bt_no}
	</select>
	
	<update id="readCountup" parameterType="int">
		update bet_notice
		set readcnt = readcnt+1
		where bt_no = #{bt_no}	
	</update>	
	
	
	<update id="updateNotice" parameterType="notice">
		UPDATE bet_notice
		   SET bt_no = #{bt_no},
			   bt_division = #{bt_division},
			   bt_title = #{bt_title},
			   bt_date= #{bt_date}
		WHERE bt_NO = #{bt_no}	
	</update>
	<delete id="deleteNotice" parameterType="int">
		delete
		from bet_notice
		where bt_no = #{bt_no}	
	</delete>	
	
</mapper>