<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="toto.vo.OeGameResult" alias="oegame"/>
		<typeAlias alias="mypage" type="toto.vo.MyPage"/>
		<typeAlias alias="oneoneinq" type="toto.vo.OneOneinq"/>
	</typeAliases>
    <mappers>
        <mapper resource="resource/testMapper.xml"/>
        <mapper resource="resource/mapper/oeGameMapper.xml"/>
        <mapper resource="resource/mapper/RPSGameMapper.xml"/>
        <mapper resource="resource/myPageMapper.xml"/>
        <mapper resource="resource\mapper\OneOneinqMapper.xml"/>
    </mappers>
</configuration>