@charset "UTF-8";




/*구매투표지*/
.innerButtonArea > div{ min-width:20px; }
.yOverflowScroll{ overflow:auto; background:#ffffff; }

/*테이블스타일추가*/
.tblArea.intab .blueNolineTbl .tbl thead th{ background:#ebeff5 !important; }

/*구매투표지_view*/
.viewTableTab > div .contTitle{ padding-top:0; margin-top: -33px; margin-bottom: 17px; }
.viewTableTab > div .contTitle.noTab{margin-top: 0;margin-bottom: 10px;}
.viewTableTab > div .contTitle ul{ margin-bottom:0; }
.viewTableTab > div .contTitle .viewTableInfo{ padding-bottom:1px; }
.viewTableTab .ui-tabs-nav{ position: relative; z-index: 1; margin-bottom:10px !important; background:none !important; background:transparent !important; }
.viewTableTab ul li a{ min-width:60px !important; }
.viewTableInfo{ overflow:hidden; width:100%; padding-bottom:3px; /* background:#ffffff; */ }
.viewTableInfo ul{ /* overflow:hidden; */ float:right; }
.viewTableInfo ul li{ float:left; font-size:12px; line-height:15px; margin-left:15px; }
.viewTableInfo ul li:first-child{ margin-left:0px; }
.viewTableInfo ul li span{ position:relative; padding-left:18px; }
.viewTableInfo ul li span:before,
.viewTableInfo ul li span::before{ content:''; width:15px; height:15px; background:url(/images/customer/totocafe_buyIcon_15X15.png) no-repeat 0 0; position: absolute; top:0px; left:0px; }
.viewTableInfo ul li.viewInfoAgree span:before,
.viewTableInfo ul li.viewInfoAgree span::before{ background-position: 0px 0px; }
.viewTableInfo ul li.viewInfoSelect span:before,
.viewTableInfo ul li.viewInfoSelect span::before{ background-position: -30px 0px; }
.viewTableInfo ul li.viewInfoResult span:before,
.viewTableInfo ul li.viewInfoResult span::before{ background-position: -15px 0px; }

.formBox.viewArea,
.viewArea{ /* margin-top:0 !important; margin-bottom:0 !important;*/ } 
.viewArea .btnChk{display:inline-block;zoom:1; *display:inline;box-shadow:none;border:1px solid #dddddd;}
.viewArea .btnChk.on { border-color: #dddddd; background: #ffffff; font-weight: 400; color: #555; box-shadow: none; }
.viewArea .btnChk.viewSelect{background:#e5f3fd; border:1px solid #0068b7; color:#222;}
.viewArea .btnChk.viewSelectAgree{background: #0068b7;border:1px solid #0068b7;color: #fff;font-weight:bold;}
.viewArea .btnChk.viewSelectAgree .selectAgree {overflow: hidden;position: absolute;top: -3px;left: -3px;width: 15px;height: 15px;background: url(/images/customer/totocafe_buyIcon_15X15.png) no-repeat -15px -15px;line-height: 99em;}
.viewArea .btnChk.viewSelectResult .selectResult {overflow: hidden;position: absolute;top: -3px;left: -3px;width: 15px;height: 15px;background: url(/images/customer/totocafe_buyIcon_15X15.png) no-repeat -15px -15px;line-height: 99em;}
.viewArea .btnChk.viewSelectResult{border:1px solid #0068b7;}
.viewArea .btnChk.viewSelect .select{ overflow: hidden; position: absolute; top: -3px; left: -3px; width: 15px; height: 15px; line-height: 99em; }
.resultTable .formBox.viewArea{float: left; margin-left:15px;}


/* 체크박스버전 view */
.viewArea.chek .btnChk{ height:30px; padding: 0; line-height: 30px; }
.viewArea.chek2 .btnChk{ height:40px; padding: 0; line-height: 40px; }

/*view하단테이블 패딩*/
.viewTotalTbl .tbl  tbody td{ padding:12px !important; }

/*구매투표지 view안에 표시위에 패딩 삭제*/
.contTitle + .buyTableArea .contTitle.lybox { padding-top: 0; }

/*구매투표지 gridTable  tfoot상단에 보더삭제*/
.gridArea.noPadd.intab .dataTables_scrollFoot table.dataTable tfoot th,
.gridArea.noPadd.intab .dataTables_scrollFoot table.dataTable tfoot td { border-top:none; border-bottom:1px solid #fcf2f3; padding-top:15px; padding-bottom:15px; }
.gridArea.noPadd.intab .dataTables_scrollBody table.dataTable tbody tr:last-child td{ border-bottom:none; }
/****************************************************************************************************************/
